# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.pytest_cache/
.mypy_cache/

# JS / Node / Frontend
node_modules/
dist/
dist-ssr/
npm-debug.log*

# Environment & Private settings
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
